* {
    margin: auto;
}
body {
    height: 100vh;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="1024" viewBox="0 0 1440 1024" fill="none"><path d="M-10 0H1462V1054H-10V0Z" fill="black"/><path d="M-10 0H1462V1054H-10V0Z" fill="url(%23paint0_linear_40_11)"/><defs><linearGradient id="paint0_linear_40_11" x1="713.5" y1="-21.7685" x2="713.5" y2="1032.23" gradientUnits="userSpaceOnUse"><stop stop-color="%238A3333"/><stop offset="0.9999" stop-color="%23D271C8" stop-opacity="0.0625"/><stop offset="1" stop-color="%238A3381" stop-opacity="0"/></linearGradient></defs></svg>');
    background-size: cover; /* Масштабирует фон */
    background-repeat: no-repeat;
}
.body {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 71% 9%;
    grid-template-rows: 14% 86%;
    grid-template-areas:
        'a a c'
        'b f c';
    transition-duration: 0.5s;
}

.profile {
    width: 67px;
    height: 56px;
    flex-shrink: 0;
}
.head {
    display: grid;
    grid-template-columns: 21% 56% 20%;
    color: #ffc7c7;
    font-family: Inter;
    font-size: 125%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 100%;

    grid-area: a;
}
.head_search_container {
    width: 100%;
    display: grid;
    justify-content: end;
}
.search_input_head::placeholder {
    color: rgba(255, 199, 199, 0.7);
}
.search_input_head {
    color: rgba(255, 199, 199, 0.7);
    padding-left: 25px;
    position: absolute;
    width: 443.366px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 0;
    background: linear-gradient(
            180deg,
            rgba(58, 2, 53, 0.8) 0%,
            rgba(58, 2, 53, 0.28) 99.99%,
            rgba(58, 2, 53, 0) 100%
        ),
        rgba(0, 0, 0, 0.2);
}
.container_search_input_head {
    position: relative;

    width: 443.366px;
    height: 54px;
}
.search_img_head {
    width: 36.656px;
    height: 37.385px;
    flex-shrink: 0;
}
.search_button_head {
    margin-top: 2%;
    margin-left: 85%;
    background: none;
    border: 0px;
    position: absolute;
}
.menu {
    width: 100%;
    height: 100%;
    grid-area: b;
}
a {
    color: #ffc7c7;
}
.play_Music {
    width: 100%;
    height: 100%;
    grid-area: c;
}
.main {
    width: 100%;
    height: 100%;
    grid-area: f;
}
.logo {
    border-radius: 250px;
    background: #45063b;
    width: 79px;
    height: 68px;
    flex-shrink: 0;
}
.div_for_header {
    display: flex;
    flex-direction: row;
}
.button_for_logo {
    background: none;
    border: 0px;
}
.menu_item {
    transition-duration: 1s;
    box-sizing: border-box;
    padding-left: 7%;
    margin-top: 5%;
    margin-left: 46px;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 35px 36px 50px 100px;
    grid-template-areas: ' button_img . text_menu';
}
.button_for_profile {
    background: none;
    width: 80px;

    border: 0px;
}
.profile_container {
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 20%;
    justify-content: end;
    flex-direction: row;
}
.menu_img {
    width: 125%;
    height: 125%;
    flex-shrink: 0;
    margin-bottom: 0%;
}
.button_img {
    grid-area: button_img;
    border: 0px;
    background: none;
}
.body_menu {
    display: grid;
    padding-top: 10%;
    margin-top: 7%;
}
.text_menu {
    color: #ffc7c7;
    margin-top: 30%;
    font-family: Inter;
    font-size: 125%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: text_menu;
}
.line_menu {
    margin-top: 3%;
    width: 231px;
    height: 2px;
    background: #ffc7c7;
    flex-shrink: 0;
    margin-left: 12%;
}
.profile_menu_img {
    width: 35px;
    height: 34.784px;
    flex-shrink: 0;
    flex-shrink: 0;
}
.play_Music {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 50% 5%;
    grid-template-areas:
        'switch_Menu_Song_Img'
        'img_Icon_Autorh_InPlayers'
        'range_Audio'
        'buttons_Players_Music';
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.31) 130.68%,
        rgba(217, 217, 217, 0) 130.69%
    );
    transition-duration: 0.5s;
}
.img_Play_Music {
    height: 35px;
    flex-shrink: 0;
}
.button_play_music {
    width: 100%;
    height: 18%;
    border: 0px;
    background: none;
}
.text_menu:hover {
    color: #ffc7c769;
    margin-top: 31%;
    font-family: Inter;
    font-size: 125%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-area: text_menu;
}
.menu_item:hover {
    border-radius: 25px;
    background: rgb(0, 0, 0, 0.11);
    cursor: pointer;
    transform: translateY(-5px);
    margin-left: 46px;
    box-shadow: 0px 10px 0px rgb(0, 0, 0, 0.3);
    transition-duration: 0.5s;
}
.mainPage_Autor_Card_Img {
    width: 148px;
    height: 160px;
    flex-shrink: 0;
}
.mainPage_autor_Div {
    width: 90%;
    height: 278px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    background: linear-gradient(180deg, #45063b 0%, rgba(69, 6, 59, 0) 100%);

    backdrop-filter: blur(2px);
}
.mainPage_Autor_Div_For_card {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mainPage_Autor_Card_Img_Button {
    position: relative;
    background: none;
    border: 0;
}
.mainPage_Autor_Card_Autor_Name {
    margin: -50px;
    color: none;
    left: 20%;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
}

.mainPage_Autor_Card_Img_Button:hover h1 {
    margin-left: auto;
    position: absolute;

    opacity: 1;
    color: #ffc7c7;
}
.mainPage_Autor_Card_Img_Button:hover div {
    position: absolute;
    width: 148px;
    height: 160px;

    background: rgba(69, 6, 59, 0.5);
}

.autorPage_Head_Autor_Content_Img_Main {
    width: 183px;
    height: 183px;
    flex-shrink: 0;

    border-radius: 50%;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.autorPage_Head_Autor_Content {
    height: 37%;
}
.autorPage_Div_Music_Content_Music_Play_Img {
    width: 80px;
    height: 85px;
    flex-shrink: 0;
}
.autorPage_Head_Autor_Content_Music_Play_button {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 300px;
    border: 0px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 1.04%,
        rgba(138, 51, 51, 0) 100%
    );
}
.autorPage_Head_Autor_Content_Music_Play_Img {
    width: 75%;
    height: 74%;
    flex-shrink: 0;
    grid-area: autorPage_Head_Autor_Content_Music_Play_Img;
}

.autorPage_Head_Autor_Content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
.autorPage_Head_Autor_Content_Img_Center {
    border-radius: 250px;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    grid-area: autorPage_Head_Autor_Content_Img_Center;
}
.autorPage_Head_Autor_Content_Img_Rigth {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 200px;
    grid-area: autorPage_Head_Autor_Content_Img_Rigth;
    margin-left: -40%;
}
.autorPage_Head_Autor_Content_Img_Left {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    grid-area: autorPage_Head_Autor_Content_Img_Left;
    position: relative;
    background: white;
    border-radius: 200px;
    margin-left: -40%;
}
.autorPage_Head_Autor_Content_Img {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    padding-left: 5%;
}
.autorPage_head_autor_Content_img_open {
    height: 70%;
    width: 100%;
}
.autorPage_Head_Autor_Content_Img_Slider {
    height: 100%;
    width: 90%;
    display: flex;

    grid-template-areas:
        'autorPage_Head_Autor_Content_Img_Left'
        'autorPage_Head_Autor_Content_Img_Center'
        'autorPage_Head_Autor_Content_Img_Rigth';
    flex-direction: column;
}
.autorPage_Head_Autor_Content_Text_title {
    margin-left: 6%;
    color: #ffc7c7;

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;

    flex-shrink: 0;
    grid-area: autorPage_Head_Autor_Content_Text_title;
}

.autorPage_Head_Autor_Content_Text_info {
    color: #ffc7c7;
    margin-top: 1%;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    margin-left: 5%;
    font-weight: 400;
    line-height: normal;
    grid-area: autorPage_Head_Autor_Content_Text_info;
}
.authorpage_head_author_content_text_info_open {
    font-size: 80%;
}
.autorPage_Head_Autor_Content_Text {
    padding-top: -25px;

    display: grid;
    grid-template-columns: 10% 70%;
    grid-template-row: 20% 30%;
    grid-template-areas:
        'autorPage_Head_Autor_Content_Music_Play_Img autorPage_Head_Autor_Content_Text_title '
        'autorPage_Head_Autor_Content_Text_info autorPage_Head_Autor_Content_Text_info';
}
.autorPage_Div_Music_Content_line {
    width: 85%;
    margin-left: 5%;
    height: 1px;
    background: rgba(255, 199, 199, 0.5);
}
.autorPage_Div_Music_Content {
    margin-top: 5%;

    display: flex;
    flex-direction: column;
}
.autorPage_Div_Music_Li {
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    display: grid;
    grid-template-rows: 100%;
    height: 6%;
    width: 85%;
    margin-left: 5%;
    background: rgba(138, 51, 51, 0.3);
}
.autorPage_Div_Music_Content_MusicLIst {
    flex-direction: column;
    display: flex;
    width: 100%;
}
.autorPage_Div_Music_Content_Music_Play_Button {
    background: 0;
    border: 0;
}
.autorPage_Div_Music_Content_Music_Play_Img {
    width: 20px;
    height: 25px;
    aspect-ratio: 1 / 1;
}
.autorPage_Div_Music_Li {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 8% 6% 10% 40% 20%;
    height: 7vh;
    padding-left: 0;
}
.autorPage_Div_Music_Play_Button_Img_Songs {
    background: none;
    border: 0;
    margin-top: 6%;
}
.autorPage_Div_Music_Play_Img_Songs {
    margin: 0%;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    /* aspect-ratio: 1 / 1; */
}
.autorPage_Div_Music_Content_Music_Name_Music {
    width: auto;
    height: 22px;
    flex-shrink: 0;
    color: #ffc7c7;

    font-family: Inter;
    font-size: 120%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4%;
}
.autorPage_Div_Music_Content_Music_Autor_Music {
    width: 289.314px;
    height: 37.006px;
    flex-shrink: 0;
    color: #ffc7c7;

    font-family: Inter;
    font-size: 75%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1%;
    margin-left: 5%;
}
.autorPage_Div_Music_Play_Like_Button {
    border: 0;
    background: none;
}
.autorPage_Div_Music_Play_Like {
    width: 75%;
    height: 75%;
    flex-shrink: 0;
}
.autorPage_Div_Music_Play_Like_Num {
    color: #ffc7c7;
    margin-top: -10%;
    font-family: Inter;
    font-size: 150%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 91.695px;
    height: 63px;
    flex-shrink: 0;
    margin-left: 90%;
}
.alertLoginAll {
    left: 0;
    top: 0;
    height: 100vh;
    position: absolute;
    background: rgba(138, 51, 51, 0.7);
    width: 100vw;
}
.alertTextContainer {
    color: #ffc7c7;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.alertText {
    font-size: 25px;
    width: 75%;
}
.alertButton {
    border-radius: 5px;
    background: #8a3333;
    color: #ffc7c7;
    border: none;
    width: 200px;
    margin-top: 20px;
    height: 40px;
}
.alertImg {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.alertLogin {
    border-radius: 25px;
    top: 20vh;
    position: absolute;
    background: url('./img/backgroundRegister.png') no-repeat center center
        fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 45% 55%;
    left: 20vw;
    width: 60vw;
    height: 450px;
}
.autorPage_Div_Music_Play_Like_Div {
    display: grid;

    grid-template-rows: 0% 100%;
    grid-template-columns: 20% 40%;
}

.range_Audio {
    margin-left: -75%;
    width: 250%;
    transform: rotate(90deg);

    grid-area: range_Audio;
}
.buttons_Players_Music {
    grid-area: buttons_Players_Music;
    margin-top: 0;
}
.previous_Song_Button {
    background: none;
    border: 0;
}
.next_Song_Button {
    background: none;
    border: 0;
}
.switch_Menu_Song_Button {
    background: none;
    border: 0;
    margin-right: 50px;
}
.switch_Menu_Song_Img {
    grid-area: switch_Menu_Song_Img;
    width: 40px;
    height: 40px;
}

.next_Song_Img {
    margin-left: -5px;
    width: 150%;
    height: 150%;
}
.previous_Song_Img {
    width: 150%;
    height: 150%;
}
.buttons_Players_Music {
    grid-area: buttons_Players_Music;
    display: flex;
    margin-left: 0;
}
.body_Players_Music_Open {
    grid-template-columns: 20% 52%;
}
.play_Music_Open {
    transition-duration: 0.5s;
    display: grid;
    margin-right: 0px;
    grid-template-rows: 10% 60% 10% 10%;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas:
        'switch_Menu_Song_Img'
        'img_Icon_Autorh_InPlayers_Open'
        'buttons_Players_Music'
        ' range_Audio_Open';
}
.switch_Menu_Song_Button_Open {
    margin-top: 0px;
    margin-right: 0px;
}
.range_Audio_Open {
    margin-left: 5%;
    transform: rotate(0deg);
    margin-top: 0;
    margin-right: 0px;
    grid-area: range_Audio_Open;
    width: 80%;
    margin-left: 15%;
}
.img_Icon_Autorh_InPlayers {
    background: none;
    border: 0;
}
.img_Icon_Autorh_InPlayers_Img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img_Icon_Autorh_InPlayers_Open {
    width: 400px;
    height: 400px;
    background: rgb(0, 0, 0);
    background: none;
    border: 0;
    grid-area: img_Icon_Autorh_InPlayers_Open;
}
.buttons_Players_Music_Open {
    margin-left: auto;
}
.player_music_songs_text {
    opacity: 0;
}
.img_Icon_Autorh_InPlayers_Img_open {
    height: 300px;
}
.player_music_songs_text_open {
    opacity: 1;
}
@media (max-width: 1700px) {
    .img_Icon_Autorh_InPlayers_Open {
        width: 300px;
        height: 300px;
    }
    .autorPage_Head_Autor_Content_Img_Center {
        width: 100px;
        height: 100px;
    }
    .autorPage_Head_Autor_Content_Img_Rigth {
        width: 75px;
        height: 75px;
    }
    .autorPage_Head_Autor_Content_Img_Left {
        width: 75px;
        height: 75px;
    }
    .autorPage_Head_Autor_Content_Img_Main {
        width: 153px;
        height: 153px;
    }
}
@media (max-width: 1600px) {
    .img_Icon_Autorh_InPlayers_Open {
        width: 300px;
        height: 300px;
    }
}
.autorPage_Div_Music_Play_Like_Button:hover {
    background: url('./img/image 8 (2).png');
    background-size: 23px 23px;
    height: 20px;
    width: 23px;
}
@media (max-width: 1400px) {
}

@media (max-width: 1300px) {
    .img_Icon_Autorh_InPlayers_Open {
        width: 300px;
        height: 300px;
    }
    .autorPage_Head_Autor_Content {
        display: grid;
        grid-template-columns: 42% 58%;
    }

    .profile {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
    .menu_item {
        margin-left: 26px;
        grid-template-rows: 40px;
        grid-template-columns: 20px 20px 20px 100px;
    }
    .body_menu {
        padding-top: 35%;
    }
    .menu_img {
        width: 20px;
        height: 20px;
    }
    .menu_item:hover {
        margin-left: 26px;
    }
    .autorPage_Head_Autor_Content_Text_title {
        margin-left: 30px;
        font-size: 15px;
    }
    .autorPage_Head_Autor_Content_Text_info {
        margin-left: 0%;
    }
    .img_Icon_Autorh_InPlayers_Img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .switch_Menu_Song_Button {
        padding: auto;
        display: flex;
        justify-content: center;
    }
    .switch_Menu_Song_Img {
        margin: 10px;
    }
    .autorPage_Head_Autor_Content_Text_info {
        font-size: 12px;
    }
    .autorPage_Head_Autor_Content_Text {
        padding-left: 50px;
    }
    .mainPage_Autor_Card_Img {
        font-size: 10px;
        width: 108px;
        height: 120px;
        flex-shrink: 0;
    }
    .mainPage_Autor_Card_Autor_Name {
        margin: -50px;
        color: none;
        left: 20%;
        font-family: Inter;
        font-size: 11px;
    }
    .mainPage_Autor_Card_Img_Button:hover div {
        width: 108px;
        height: 120px;
    }
    .img_Icon_Autorh_InPlayers_Open {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 1100px) {
    .body_menu {
        padding-top: 35%;
    }

    .autorPage_Head_Autor_Content_Text_info {
        font-size: 10px;
    }
    .autorPage_Head_Autor_Content_Img {
        grid-template-columns: 100%;
        grid-template-rows: 70% 30%;
    }
    .autorPage_Head_Autor_Content_Img_Slider {
        flex-direction: row;
        margin-top: -5%;
        padding-left: 5%;
    }
    .img_Icon_Autorh_InPlayers_Open {
        width: 150px;
        height: 150px;
    }
    .line_menu {
        width: 90%;
    }
    .autorPage_Head_Autor_Content_Img_Main {
        margin-left: 26%;
    }
    .autorPage_Head_Autor_Content_Img_Left {
        margin-left: 10%;
        width: 55px;
        height: 55px;
        margin-top: -5%;
    }
    .autorPage_Head_Autor_Content_Img_Rigth {
        margin-left: 0%;
        width: 55px;
        height: 55px;
        margin-top: -5%;
    }
    .autorPage_Head_Autor_Content_Img_Center {
        border-radius: 250px;
        width: 80px;
        height: 80px;
    }
    .autorPage_Div_Music_Content {
        padding-left: 15%;
    }
}
@media (max-width: 950px) {
    .mainPage_Autor_Div_For_card {
        width: 50%;
        display: grid;
        grid-template-columns: 0%60% 5% 60%;
        grid-template-rows: 50% 50%;
    }
}
.autorPage_Div_Music_Play_Img_Songs {
    margin-top: 0.45vh;
}
@media (max-width: 800px) {
    .img_Icon_Autorh_InPlayers_Open {
        width: 150px;
        height: 150px;
    }
    .mainPage_autor_Div {
        width: 70%;
        margin-left: 20%;
    }

    .mainPage_Autor_Div_For_card {
        width: 70%;
        display: grid;
        grid-template-columns: 0% 60% 5px 60%;
        grid-template-rows: 50% 50%;
    }
    .body {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 12% 76% 12%;
        grid-template-areas:
            'a a '
            'b f '
            'c c';
    }
    .range_Audio {
        transform: rotate(0deg);
        width: 300px;
        margin-top: 0;
    }
    .img_Icon_Autorh_InPlayers_Img {
        width: 25px;
        height: 25px;
    }
    .buttons_Players_Music {
        margin-top: 0;
    }
    .switch_Menu_Song_Img {
        width: 30px;
        height: 30px;
    }
    .profile {
        width: 30px;
        height: 30px;
    }
    .switch_Menu_Song_Button {
        margin-top: 30px;
        grid-area: switch_Menu_Song_Button;
    }
    .img_Icon_Autorh_InPlayers {
        margin-top: 20px;
        grid-area: img_Icon_Autorh_InPlayers;
    }
    .buttons_Players_Music {
        margin-top: 25px;
        grid-area: buttons_Players_Music;
    }
    .range_Audio {
        margin-top: 37px;
        margin-left: 25px;
        grid-area: range_Audio;
    }
    .img_Icon_Autorh_InPlayers_Img {
        width: 50px;
        height: 50px;
    }
    .play_Music {
        display: grid;
        grid-template-areas: 'switch_Menu_Song_Button  img_Icon_Autorh_InPlayers buttons_Players_Music range_Audio';

        width: 100%;
        height: 100%;

        grid-template-rows: 40%;
        grid-template-columns: 10% 20% 20% 0% 50%;
    }
    .profile_container {
        grid-template-rows: 80%;
        grid-template-columns: 20% 20%;
    }
    .head {
        display: grid;
        grid-template-columns: 21% 45% 20%;
    }
    .text_for_profile {
        font-size: 12px;
    }
    .switch_Menu_Song_Button {
        margin-top: 20px;
    }

    .switch_Menu_Song_Button {
        margin-right: 0px;
    }
    .play_Music_Open {
        display: grid;
        grid-template-areas: 'switch_Menu_Song_Button  img_Icon_Autorh_InPlayers buttons_Players_Music range_Audio';

        width: 100%;
        height: 100%;

        grid-template-rows: 40%;
        grid-template-columns: 10% 20% 20% 0% 50%;
    }
    .switch_Menu_Song_Img {
        margin-top: 0px;
    }

    .buttons_Players_Music {
        margin-top: 20px;
    }
    .autorPage_Div_Music_Content_Music_Name_Music {
        font-size: 12px;
        margin-left: 30px;
    }
    .autorPage_Div_Music_Content_Music_Autor_Music {
        font-size: 10px;
        margin-left: 30px;
        margin-top: 3px;
    }
}
@media (max-width: 600px) {
    .mainPage_autor_Div {
        width: 70%;
        margin-left: 30%;
    }
    .mainPage_Autor_Div_For_card {
        margin-left: 0%;
        display: grid;
        grid-template-columns: 20% 60%;
        grid-template-rows: 25% 25% 25% 25%;
    }
    .menu_item {
        width: 40px;
        font-size: 0px;
    }
    .line_menu {
        margin-left: 30px;
        width: 35px;
    }
    .range_Audio {
        width: 50px;
    }
    .autorPage_Head_Autor_Content {
        width: 40vh;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 70% 30%;
    }

    .div_for_header {
        font-size: 15px;
    }
    .autorPage_Div_Music_Li {
        margin-top: 1%;
        display: grid;
        grid-template-rows: 100%;
        height: 6%;
        width: 85%;
        margin-left: 0%;
    }
    .autorPage_Head_Autor_Content_Img {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100%;
    }
    .autorPage_Head_Autor_Content_Img_Slider {
        height: 100%;
        width: 90%;
        display: flex;

        grid-template-areas:
            'autorPage_Head_Autor_Content_Img_Left'
            'autorPage_Head_Autor_Content_Img_Center'
            'autorPage_Head_Autor_Content_Img_Rigth';
        flex-direction: column;
    }

    .autorPage_Head_Autor_Content_Music_Play_button {
        width: 30px;
        height: 30px;
    }
    .autorPage_Head_Autor_Content_Text_title {
        margin-left: 0px;
    }
    .autorPage_Head_Autor_Content_Text_info {
        width: 65vw;
        margin-left: 0px;
    }
    .autorPage_Head_Autor_Content_Img_Left {
        margin-top: -1x;
        margin-left: -10px;
    }
    .autorPage_Head_Autor_Content_Img_Rigth {
        margin-left: -10px;
    }
    .autorPage_Head_Autor_Content_Text {
        margin-left: 0px;
        padding-left: 10px;
    }
    .autorPage_Div_Music_Content {
        margin-top: 70px;
    }
    .autorPage_Div_Music_Content_line {
        width: 20px;
    }
    .autorPage_Div_Music_Content {
        padding-left: 0px;
        margin-left: 50px;
        width: 60vw;
    }
    .autorPage_Div_Music_Content_Music_Play_Img {
        margin-left: -5vw;
        width: 10px;
        height: 15px;
    }
    .autorPage_Div_Music_Content_Music_Play_Button {
        margin-left: 0px;
    }
    .autorPage_Div_Music_Li {
        margin-top: 5px;
        display: grid;
        grid-template-rows: 100%;

        height: 30px;
        width: 60vw;
        margin-left: 0%;
        background: rgba(138, 51, 51, 0.3);
    }
    .autorPage_Div_Music_Play_Img_Songs {
        margin-top: 0.25vh;
        margin-left: -5vw;
        width: 20px;
        height: 20px;
    }
    .autorPage_Head_Autor_Content_Img_Slider {
    }
    .autorPage_Div_Music_Content_Music_Name_Music {
        width: auto;
        font-size: 10px;
        height: 15px;
        margin-top: -8px;
        margin-left: -1vw;
    }
    .autorPage_Div_Music_Content_Music_Head_Music {
        margin-top: 0px;
        height: 0;
        width: auto;
    }
    .autorPage_Div_Music_Content_Music_Name_Music {
        width: 100px;
    }
    .autorPage_Div_Music_Content_Music_Head_Music{
        width: 100px;
    }
    .autorPage_Div_Music_Content_Music_Autor_Music {
        margin-left: -1vw;
        font-size: 5px;
        margin-top: 0px;
        height: 0;
        padding-top: 0;
        height: 0px;
    }
    .autorPage_Div_Music_Play_Like_Num {
        margin-top: 0px;
    }
    .autorPage_Div_Music_Play_Like_Div {
        display: grid;
        grid-template-rows: 5% 10%;
        grid-template-columns: 20% 40%;
    }
    .autorPage_Div_Music_Play_Like_Num {
        margin-left: 10px;
        font-size: 8px;
        margin-top: 4px;
        height: 100%;
    }
    .autorPage_Div_Music_Play_Like {
        margin-left: -30px;
        width: 15px;
        height: 15px;
    }
    .autorPage_Div_Music_Content_Music_Head_Music {
        width: 0;
    }
    .autorPage_Div_Music_Content_Music_Autor_Music{
        width: 100px;
    }
}
.autorPage_Div_Music_Play_Like_Num {
    height: 100%;
}
@media (max-width: 500px) {
    .logo {
        margin-left: 2px;
        width: 15px;
        height: 15px;
    }
    .div_for_header {
        font-size: 9px;
    }
    .main {
        margin-left: 0px;
        padding-left: 0px;
    }
    .mainPage_autor_Div {
        margin-left: 0px;
        padding: 0px;
    }
    .profile {
        width: 15px;
        height: 15px;
    }
    .head {
        display: grid;
        grid-template-columns: 20% 48% 8%;
    }

    .autorPage_Head_Autor_Content_Text {
        padding-top: 2%;
        padding-left: 20px;
        display: grid;
        grid-template-columns: 10% 70%;
        grid-template-row: 10% 30%;
    }
    .autorPage_Head_Autor_Content_Img {
        margin-left: -20px;
    }
    .autorPage_Div_Music_Content {
        margin-left: 20px;
    }
    .autorPage_Head_Autor_Content {
        width: 70vw;
        display: grid;
        grid-template-columns: 100%;
    }
}
@media (max-width: 450px) {
    .autorPage_Head_Autor_Content_Text_info {
        margin-left: 5px;
        width: 60vw;
        font-size: 8px;
    }
    .autorPage_Head_Autor_Content {
        margin-left: -8vw;
        width: 70vw;
        display: grid;
        grid-template-columns: 100%;
    }
}
