
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: url("./img/backgroundRegister.png") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}
.main {
 
  width: 100vw;
  height: 100vh;
position: absolute;
top:-20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
}
.regist{
  
height:100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
::placeholder {
  position: relative;
  left:10px;
  color: #FFC7C7;
}
.input_Style{
  color: #FFC7C7;
  width: 469px;
height: 63px;
flex-shrink: 0;
border: 0px;
border-radius: 15px;
background: linear-gradient(180deg, rgba(58, 2, 53, 0.80) 0%, rgba(58, 2, 53, 0.28) 99.99%, rgba(58, 2, 53, 0.00) 100%), rgba(0, 0, 0, 0.20);

} 
.button{
position: relative;
 top:70px;
  border-radius: 5px;
  background: #8A3333;
  color: #FFC7C7;
  border: none;
  width: 150px;
  height: 40px;
  z-index: 1; }
button:hover{
  background-color: #702929;
  cursor: pointer ;
}
.line{
  position: relative;
  bottom: 22px;
  left:13px;
  background:#FFC7C7;
  width: 440px;
}
.bottomLine{
  position: relative;
  top:60px;
  background:#FFC7C7;
  width: 540px;
}
.registtext{
  color: #FFC7C7;
}
input{
  margin-bottom:20px;
}
.registline{
  background:#FFC7C7;
  width:125px;
}
.inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.regist_name{
margin-bottom:10px;
  width: 469px;
  height: 63px;
}
.acount{
  color: #FFC7C7;
  text-decoration: none;

}
.acount:hover{
  cursor: pointer;
  text-decoration: underline;
}
.duck{
  display: flex;
  flex-direction:row;
}

.ducktext{
  color: #FFC7C7;
}
.duckimg{
width: 50px;
height:40px;
  border-radius:100%;
  background-color:#45063B;
} 