* {
    margin: 0;
    padding: 0;
}
body {
    background: url('../img/backgroundRegister.png') no-repeat center center
        fixed;
    background-size: cover;
}
.account {
}
.containerError{
    position: absolute;
    color: #ffc7c7;
    top: 600px;
}
.main {
    height: 100vh;
    width: 100vw;
       display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
}
.regist {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
::placeholder {
   
    color: #ffc7c7;
}
.button :hover {
    background-color: #221f1f;
    cursor: pointer;
}
.input_Style {
    color: #ffc7c7;
    width: 469px;
    height: 63px;   
    flex-shrink: 0;
    border: 0px;
    font-size: 15px;
    padding:20px;
    box-sizing: border-box;
    border-radius: 15px;
    background: linear-gradient(
            180deg,
            rgba(58, 2, 53, 0.8) 0%,
            rgba(58, 2, 53, 0.28) 99.99%,
            rgba(58, 2, 53, 0) 100%
        ),
        rgba(0, 0, 0, 0.2);
}

.button {
    position: relative;
    top: -190px;
    border-radius: 5px;
    background: #8a3333;
    color: #ffc7c7;
    border: none;
    width: 150px;
    height: 40px;
}
button:hover {
    background-color: #702929;
    cursor: pointer;
}
.line {
    position: relative;
    bottom: 22px;
    left: 13px;
    background: #ffc7c7;
    width: 440px;
}
.bottomLine {
    position: relative;
    bottom: 200px;
    background: #ffc7c7;
    width: 540px;
}
.registtext {
    color: #ffc7c7;
}
input {
    margin-bottom: 20px;
}
.registline {
    background: #ffc7c7;
    width: 60px;
}
.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.regist_name {
    margin-bottom: 10px;
    width: 469px;
    height: 63px;
}
.duck {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    right: 15px;
}
.ducktext {
    color: #ffc7c7;
}
.duckimg {
    width: 50px;
    height: 40px;
    border-radius: 100%;
    background-color: #45063b;
}
@media (max-width:800px){
    .bottomLine {
        position: relative;
        bottom: 200px;
        background: #ffc7c7;
        width: 300px;
    }
    .input_Style {
        color: #ffc7c7;
        width: 300px;
        height: 53px;   
        flex-shrink: 0;
        border: 0px;
        font-size: 15px;
        padding:20px;
        box-sizing: border-box;
        border-radius: 15px;
        background: linear-gradient(
                180deg,
                rgba(58, 2, 53, 0.8) 0%,
                rgba(58, 2, 53, 0.28) 99.99%,
                rgba(58, 2, 53, 0) 100%
            ),
            rgba(0, 0, 0, 0.2);
    }
    .registtext{
        margin-left: 100px;
    }
    .registline {
        margin-left: 100px;
    }
    .line {
        position: relative;
        bottom: 22px;
        left: 15px;
        background: #ffc7c7;
        width: 270px;
    }
}
